*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    background: linear-gradient(to right top,blue,violet);
    

    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: 200px 250px 200px;
    /* grid-template-rows: 100px 100px 100px 100px; */
    grid-auto-rows: 120px;

    justify-content: center;
    align-content: center;
    gap: 10px;
    /* align-items: center; */
}
.outer > .box{
    border: 2px solid black;
    padding: 10px;
    color: rgb(232, 224, 224);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 10px;
}
.outer >#box1{
    grid-column: span 3;
}
.outer>#box2{
    grid-row: span 2;
}
.outer>#box3{
    grid-column: span 2;
}
.outer>#box8{
    grid-row: span 2;
}