*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.outer{
    background: linear-gradient(to bottom,orange,yellow);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
.outer>h1{
    color: white;
     animation: movingtext 2s linear infinite;
}
.outer>h1::after{
    content: "";
    height: 3px;
    background: linear-gradient(to right,brown,white);
    border-radius: 3px;
    width: 0%;
    left: 0;
    bottom: 0;
    position: relative;
}
.outer>h1:hover::after{
    position: absolute;   
    width: 100%;
    transition: all 1s ease-in;
}
@keyframes movingtext {
    0%{
        transform: translateY(-15px);
        opacity: 0;
    }
    20%{
        transform: translateY(0px);
        opacity: 1;
    }
    80%{
        transform: translateY(0px);
        opacity: 1;

    }
    100%{
         transform: translateY(15px);
         opacity: 0;
    }
    
}
.outer>.inner{
    height: 80%;
    width: 80%;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    /* justify-content: center; */
    /* align-content: center; */
    gap: 20px;
    
    /* grid-auto-rows: 80px; */
}
.outer>.inner >.box{
    /* border: 1px solid black; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}
.outer>.inner >.box{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    text-shadow: 1px 1px 3px black;
    transition: all 1s ease-in;
    cursor: pointer;
    background-position: top;
    /* transition: all 1s linear; */


}
.inner >.box:hover{
    /* transform: translateY(-10px); */
    /* background-position: bottom;     */
    background-position: center;
}


#b1{
    grid-row: span 2;
    background-image: url(https://i.pinimg.com/736x/51/1f/11/511f115d7ba21e98cc7dae267d13be31.jpg);
   background-size: cover;
   background-position: top;
     
}
#b2{
    background-image: url(https://images.unsplash.com/photo-1560260240-c6ef90a163a4?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8b2NlYW4lMjB3YWxscGFwZXJ8ZW58MHx8MHx8fDA%3D);
    background-size: cover;

}
#b3{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoF9f8Y4lwQeOnLijmMajma9CtCkOEs7MgSA&s);
   
    background-size: cover;

}
#b4{
    grid-column: span 2;
    background-image: url(https://img.freepik.com/free-photo/sunset-time-tropical-beach-sea-with-coconut-palm-tree_74190-1075.jpg?semt=ais_hybrid&w=740&q=80);
  
    background-size: cover;

}
#b5{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSovWiMp7H4F_h8IDcgywT79agPHl4EZbiTRw&s);
     background-repeat: no-repeat;
    background-size: cover;


}
#b6{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCQnxEB5nPwY7dioXBYkpMH15Qe8M8pqt6vQ&s);
    background-repeat: no-repeat;
    background-size: cover;
   

}
#b7{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuXSyfRX5T3hbE-3kGngH1t2Fz6b2XJ0FGCg&s);
     background-repeat: no-repeat;
    background-size: cover;

}

